Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

## In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

### __Objectives__:

* Some of the popular languages that Data Scientists
* Some of the commonly used libraries used by Data Scientists
* Data Science tools
* Few examples of evaluating arithmetic expressions in Python

Exercise 4 - Create a markdown cell to list data science languages

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. MATLAB
6. Scala

Exercise 5 - Create a markdown cell to list data science libraries

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas (Python)
2. NumPy (Python)
3. TensorFlow (Python)
4. Scikit-learn (Python)
5. Matplotlib (Python)
6. ggplot2 (R)
7. dplyr (R)
8. caret (R)

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|-------------------|
|Jupyter Notebook|
| RStudio|
| Spyder |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [11]:
#This will convert 200 minutes to hours by diving by 60

time_min = 200 # minutes

time_h = 200/60

print(time_h)

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Erasmo M.G